extends layout

block header
    h1= title
    div#timeLeft
        span= "Time for next race: "
        span#timer= "0:00"

block main
    div#racing
        div#choose
            div#choosePilot.
                Choose pilot
            div#chooseCar.
                Choose car
            div#chooseTire.
                Choose tire
        div#coding
            pre#code-editor.
                var fuelToLoad = 30;
                
                if(currentLap % 10 == 0) {
                    if(temperature > 35) {
                        pit('hard', fuelToLoad);
                    } else if(temperature > 25) {
                        pit('medium', fuelToLoad);
                    } else {
                        pit('soft', fuelToLoad);
                    }
                }
                
                if(myPosition > 1 && myDistanceTo[myPosition - 1] < 0.5) {
                    push();
                }
            div#actions
                button#popupHelp(data-role='button')= "Don't click here!"
                button#validate(data-role='button')= "Validate"
                button#send(data-role='button', role='button')= "Send orders!"
    div#help
        div#variables
            strong= "Variables with relevant information:"
            p
                i= " => currentLap (number)"
                br
                | Current lap number. Before the start it's value is 0 (zero).
            p
                i= "=> temperature (number)"
                br
                | Track temperature on current lap (in Celsius).
            p
                i= "=> myPosition (number)"
                br
                | Position of your car on the race. Position 0 (zero) doesn't exist.
            p
                i= "=> myDistanceTo[position] (array of float)"
                br
                | All distances, in seconds, to the others cars on the track.
                br
                | Examples:
                ul
                    li= "myDistanceTo[myPosition] will return 0 (why? hmmm)"
                    li= "myDistanceTo[myPosition - 1] will return the distance to the car in front of me."
                    li= "myDistanceTo[1] will return the distance to the race leader."
                    li= "myDistanceTo[0] is null and can break your code."
        div#commands
            p
                strong= "All orders are valid to next lap ONLY! If you want it to last for more than one lap, you have to issue the command every lap."
                br
                br
                strong= "Commands you can use:"
            p
                i= "=> pit(tireType, fuelToLoad)"
                br
                | Order your car to pit, <strong>tire compunds are 'soft', 'medium' and 'hard'</strong>. You can use it with the following options:
                br
                br
                | Example: pit('soft', 10)
                br
                | Car will stop on next lap, change tires to soft compound and will up gas tank with 10 liters.
                br
                br
                | Example: pit('medium')
                br
                | Car will stop on next lap, change tires to medium compound but won't fill up gas tank (pit stop might be faster).
                br
                br
                | Example: pit(10)
                br
                | Car will stop on next lap, won't change tires, just fill up gas tank (why would you do that?).
            p
                i= "=> push()"
                br
                | Order your pilot to drive more agressively on the next lap. He will be faster, but also will spend more fuel and tires and be more prone to errors.
                br
                | You can only use this order for a limited number of laps (this changes from pilot to pilot).
                br
                | Once you exceeded the number of 'push laps', your pilot will just ignore it (he might get upset?).
            p
                i= "=> relax()"
                br
                | Order your pilot to drive more carefully. It will save more fuel and tires, and less prone to errors. But he will be slower.